    <!-- Make sure all your bars are the first things in your <body> -->
    <header class="bar bar-nav">
      <a class="icon pull-left"><i class="fa fa-gear"></i></a>
      <a class="icon pull-right" href="#myModalexample"><i class="fa fa-plus"></i></a>
      <h1 class="title">RendezFood</h1>
    </header>

    <style>
    .time_info{
      font-size: .75em;
    }

    #poll_title{
      font-size: 1.0em;
    }

    .add_poll_form{
      color: white;
      text-align: center;
    }

    .form_label{
      color: white;
      text-align: center;

    }
    </style>
    
    <!-- Wrap all non-bar HTML in the .content div (this is actually what scrolls) -->
    <div class="content">
    <div class="card">
      <ul class="table-view">

        <% if !@polls.nil? %>
          <% @polls.each do |poll| %>

            <li class="table-view-cell media">
              <a class="navigate-right" href=<%="/polls/#{poll.id}"%> data-transition="slide-in">
                <span class="badge time_info"><%= time_ago_in_words(poll.food_time) %></span>
                <%= image_tag(poll.user.image, :class => "media-object pull-left") %>

                <div class="media-body">
                  <p id="poll_title"><%= poll.title %><p>
                  <p><%= poll.description %></p>
                </div>
              </a>
            </li>
          <% end %>
        <% end %>

      </ul>
    </div>
  </div>

  <div id="myModalexample" class="modal">
  <header class="bar bar-nav">
    <a class="icon pull-right" href="#myModalexample"><i class="fa fa-times"></i></a>
    <h1 class="title">Add Poll</h1>
  </header>

  <div class="content">
    <%= form_for(@poll, :class=> "card") do |f|%>
        <label class="form_label" for="name">Poll Name</label>
        <%= f.text_field :title, "type"=>"text"%>
        <%= f.hidden_field :user_id, value: current_user.id %>
        <%= f.hidden_field :active, value: true %>

        <label class="form_label" for="description">Poll Description</label>
        <%= f.text_field :description, "name"=>"date_time_poll", "type"=>"text" %>

        <label class="form_label" for="date_time_poll">Date and Time</label>
        <%= f.datetime_select :food_time %>

        <%= f.submit "Create Poll", :class =>"btn btn-positive btn-block" %>
    <% end %>
  </div>

  </div>

</div>
